@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
    --orange: hsl(25, 97%, 53%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: black;
    font-family: 'Overpass', sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    flex-direction: column;
    position: relative;
}

h1 {
    font-size: 1.7rem;
}

.card-1,
.card-2 {
    max-width: 350px;
    background-color: aqua;
    border-radius: 1.5rem;
    padding: 25px 35px;
    background-image: linear-gradient(var(--dark-blue), var(--very-dark-blue));
}

.card-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    position: absolute;
    transform: scale(0);
    transform-origin: bottom;
    transition: all .15s;
}

.card-2 h1 {
    margin: 0;
    text-align: center;
}

.active {
    transform: scale(1);
}

.content p {
    line-height: 1.5;
}

.content {
    margin-top: 15px;
}


.star-icon {
    display: inline-block;
    background-color: #323d49;
    border-radius: 50%;
    padding: 5px 7px;
}

ul {
    padding: 0px;
    margin: 25px 0;
    display: flex;
    justify-content: space-between;

}

li {
    display: inline-block;
    width: auto;
    list-style: outside none none;
    color: var(--medium-grey);
    background-color: var(--dark-blue);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
    transition: all 0.3s ease-in-out;
}

li:hover:not(.rating-clicked) {
    background-color: var(--medium-grey);
    color: white;
    cursor: pointer;
}


.rating-clicked {
    background-color: var(--orange);
    color: white;
}

.ratings-preview p {
    margin: 0;
}

.ratings-preview {
    margin-top: 10px;
    color: var(--orange);
    background-color: var(--dark-blue);
    padding: 7px 10px;
    border-radius: .9rem;
}

button {
    font-size: 1rem;
    padding: 15px;
    text-align: center;
    width: 100%;
    border-radius: .9rem;
    border: 0 transparent;
    background-color: var(--orange);
    color: white;
    transition: all .5s ease-in;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: var(--orange);
}


footer {
    position: absolute;
    bottom: 10px;
    text-align: center;
}

.attribution {
    font-size: 15px;
    text-align: center;
}

.attribution a {
    color: var(--orange);
    text-decoration: none;
}